<div class="panel">
	<% @tweets.each do |tweet| %>

  <div class="panel-heading">
  	<strong>Gudetama_Fanpage</strong> &#64;<%= tweet.handle %>
    <%= time_ago_in_words(tweet.created_at.localtime) + " ago" %>
  </div>
  <div class="panel-body">
    <div class="panel-body-text">
      <%= tweet.content %><br>
      <%= link_to "View Tweet", tweet_path(tweet) %>
    </div>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Tweet', new_tweet_path %>