<div class="panel panel-default">
	<% @tweets.each do |tweet| %>
  <div class="panel-heading">
  	<strong><%= tweet.handle %></strong>
    <%= time_ago_in_words(tweet.created_at.localtime) + " ago" %>
  </div>
  <div class="panel-body">
  <%= tweet.content %><br>
  <%= link_to "View Tweet", tweet_path(tweet) %>
  </div>
  <% end %>
</div>

<br>

<%= link_to 'New Tweet', new_tweet_path %>