<h1>Tweets</h1>

<ul>
    <% @tweets.each do |tweet| %>
        <li>
            <strong><%= tweet.handle %></strong>
            <%= time_ago_in_words(tweet.created_at.localtime) + " ago" %><br>
            <%= tweet.content %><br>
            <%= link_to "View Tweet", tweet_path(tweet) %>
        </li>
    <% end %>
</ul>

<br>

<%= link_to 'New Tweet', new_tweet_path %>